<h2 class="title" mat-dialog-title>Detalhes da Turma</h2>
<mat-dialog-content class="mat-typography">
  <form class='form' [formGroup]="item">

    <mat-form-field>
      <mat-label>Insira o código da turma</mat-label>
      <input matInput placeholder="128" autocomplete="false" name="hidden" type='number'  formControlName="codigo" required>
      <mat-error >Código inválido, insira um código de <strong>3</strong> digitos</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Insira o ano da turma</mat-label>
      <input matInput placeholder="2020" autocomplete="false" name="hidden" type='number' formControlName="ano" required>
      <mat-error >Ano inválido</mat-error>
    </mat-form-field>

    <div class="row" >
      <mat-radio-group formControlName="semestre">
        <mat-radio-button value=1 >Semestre 1</mat-radio-button>
        <mat-radio-button  value=2 >Semestre 2</mat-radio-button>
      </mat-radio-group>
    </div>


     <mat-form-field>
       <mat-label>Horários</mat-label>
       <mat-chip-list #chipList aria-label="Adição de Horários">
         <input placeholder="5LP" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
         </mat-chip-list>
         <mat-hint align="start">Digite <strong>enter </strong>ou <strong>vírgula</strong> para adicionar </mat-hint>
     </mat-form-field>
 
     <mat-chip-list #chipList aria-label="Seleção de Horários" class="lista">
       <mat-chip *ngFor="let horario of horarios" [selectable]="selectable" [removable]="removable"
         (removed)="remove(horario)">
         {{horario}}
         <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
       </mat-chip>
     </mat-chip-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-stroked-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" [disabled]="!item.valid" mat-raised-button (click)="onSubmit()">Salvar</button>
</mat-dialog-actions>