.content {
  padding: 60pt;

  display: flex;
  flex-direction: column;

  .page-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60pt;
    h1 {
      font-size: 40pt;
      align-self: flex-end;
      margin-bottom: 0;
      line-height: 1;
      color: rgb(65, 65, 77);
      font-weight: 500;
    }
  }

  .form {
    padding: 30pt;
    width: auto;
    border-radius: 5pt;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    .doubleItem {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      mat-form-field {
        width: 45%;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
