.title {
  font-size: 20pt;
}

.value {
  margin-left: 5pt;
  font-size: 14pt;
  font-weight: 500;
  color: #000000;
}

.description {
  font-size: 15pt;
  color: #1d8bf1;
}

.item {
  display: flex;
  flex-direction: row;
}
