<h2 class="title" mat-dialog-title>Turma</h2>
<mat-dialog-content class="mat-typography" [dataSource]="dataSource">
  <div class='list'>
      <div class='item'>
        <p class ="description">Código</p>
        <p class ="value">{{turma.numero}}</p>
      </div>
      <div class='item'>
        <p class ="description">Professor</p>
        <p class ="value">{{turma.professor}}</p>
      </div>
      <div class='item'>
        <p class ="description">Sala</p>
        <p class ="value">{{turma.sala}}</p>
      </div>
      <div class='item'>
        <p class ="description">Semestre</p>
        <p class ="value">{{turma.semestre}}</p>
      </div>
      <div class='item'>
        <p class ="description">Ano</p>
        <p class ="value">{{turma.ano}}</p>
      </div>
      <div class='item'>
        <p class ="description">Disciplina</p>
        <p class ="value">{{turma.disciplina}}</p>
      </div>
  </div>
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-stroked-button [mat-dialog-close]='true'>Fechar</button>
</mat-dialog-actions>
