.app-data-table {
  width: 100%;

  .table-item-wrapper {
    .table-item-cell {
      &.-actions {
        width: 150px;

        > .action-button {
          &.-edit {
            // color: #41414D;
          }
          &.-delete {
            color: #e10050;
          }
        }
      }
    }
  }
}
