<table mat-table matSort [dataSource]="dataSource" >

    <ng-container matColumnDef="codigo" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
      <td class="table-item-cell" mat-cell *matCellDef="let element" >{{element.codigo}}</td>
    </ng-container>
  
    <ng-container matColumnDef="disciplina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Disciplina</th>
      <td class="table-item-cell" mat-cell *matCellDef="let element">{{element.disciplina}}</td>
    </ng-container>
  
    <ng-container matColumnDef="professor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Professor</th>
      <td class="table-item-cell" mat-cell *matCellDef="let element">{{element.professor.nome}}</td>
    </ng-container>
  
    <ng-container matColumnDef="semestre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Semestre</th>
      <td class="table-item-cell" mat-cell *matCellDef="let element">{{element.semestre}}</td>
    </ng-container>
  
    <ng-container matColumnDef="sala">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sala </th>
      <td class="table-item-cell" mat-cell *matCellDef="let element">{{element.sala.number}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="action-button"> 
        <button mat-button  (click)="openEdit(element.id)"class="action-button edit">
          <mat-icon aria-hidden="false">edit</mat-icon>
        </button> 
      </td>
    </ng-container>
    <ng-container matColumnDef="delete"   >
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"  class="action-button"> 
        <button mat-button  (click)="confirm(element.id)" class="action-button delete">
          <mat-icon aria-hidden="false">delete</mat-icon>
        </button> 
      </td>
    </ng-container>
    <ng-container matColumnDef="expand"   >
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"  class="action-button"> 
        <button mat-button  (click)="open(element.id)" class="action-button delete">
          <mat-icon aria-hidden="false">launch</mat-icon>
        </button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>